/** LAYOUT */
.container {
    margin-top: 12px;
    min-width: 360px;
    max-width: 880px;
}


/** NAVBAR DESIGN */
.navbar-inverse {
    background-color: #000000;
    border: 0;
}
#logo, #logo:hover, #logo:focus, #logo-refreshing {
    width: 112px;
    background: #000 url("../img/logo.svg") center center no-repeat;
    background-size: 112px;
}

#logo-refreshing {
    background: #1F6AB4;
    color: #FFF;
}

.mobo-search {
    padding: 0 2px;
}
.mobo-menu {
    border-left: 1px solid #444;
}
.mobo-menu,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background: #222;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-toggle {
    color: #333;
    border-left: 1px solid #CCC;
    background-color: #EEE;
}

.navbar-form {
    margin-top: 11px;
}


/** TYPOGRAPHY */
h2 {
    font-size: 2rem;
    display: inline-block;
    margin: 8px 0;
    text-align: center;
}

h4 {
    margin: 1em 0 0.4em 0;
}

#form h3 {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding: 4px 8px;
    color: #FFF;
    font-size: 1.2em;
    line-height: 1.4em;
}

pre {
    font-size: 0.85em;
    padding: 5px 10px;
    margin: 8px 0;
}

a:hover {
    text-decoration: none;
    color: #65A4DB;
}

textarea {
    min-height: 200px !important;
}


/** Select2 */
.select2-widget {
    width: 270px;
}
.select2-container {
    margin-right: 4px;
}
.select2-results__option {
    font-size: 0.92em;
}

.select2-container--default
.select2-results__group {
    padding: 3px 6px;
    background-color: #EEE;
    color: #555;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}


/** MISC */
#sub-nav {
    margin-top: 50px;
    text-align: left;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    color: #333;
    padding: 0 12px;
}
#sub-nav-link {
    color: #777;
    margin-left: 4px;
}

#footer {
    font-size: 0.85em;
    margin: 12px 0;
    padding-top: 4px;
    border-top: 1px dotted #CCC;
    text-align: center;
    color: #AAA;
}

.description {
    display: block;
    background: #27A4C9;
    color: #FFF;
    margin: 8px 0;
    padding: 2px 8px;
    border-radius: 3px;
}

.helptext {
    display: block;
    font-style: italic;
    /*background: #EEE;*/
    color: #333;
    margin: 12px 0;
    padding: 2px 8px;
    /*border-radius: 3px;*/
    border-left: 4px solid #6499CB;
}

.well {
    background: rgba(0, 0, 0, 0.016);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: none;
}

.diff-added,
.diff-removed {
    color: #FFF;
    padding: 1px 4px;
    border-radius: .25em;
}
.diff-added {
    background: #5CB85C;

}
.diff-removed {
    background: #D9534F;
}

.json-editor-btn-edit {
    display: none;
}

.help-block {
    color: #777;
    font-style: italic;
}

.nav-pills {
    margin-bottom: 8px;
}

.valid {
    border: 1px solid #A6E224 !important;
    background: #E4F1C8;
}

.invalid {
    border: 1px solid #910A0A !important;
    background: #F7D7D7;
}

.clearfix {
    clear: both;
}

#refresh {
    position: fixed;
    top: 0;
    left: 0;
    width: 106px;
    height: 50px;

    cursor: hand;

    font-size: 1.6rem;
    background: #08527D;
    color: #FFF;
    text-align: center;
    padding: 14px 0;
    z-index: 9999;
}
